.input {
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  background: white;
  border: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    -2px -2px 5px rgba(0, 0, 0, 0.1);
}
.input:focus {
  outline: 0;
}
.wrap {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}
.inputName {
  margin-bottom: 8px;
}
