.footer {
  padding: 1em;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.main {
  flex: 1;
  min-height: 100%;
}
.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
